APP_PORT=3000
APP_TIMEZONE=Europe/Warsaw

DISCORD_BOT_TOKEN=
DISCORD_BOT_DEVELOPMENT_GUILD_ID=
GEMINI_API_KEY=

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=